# Archivos y carpetas de Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Archivos de configuración de ASP.NET Core
appsettings.json
appsettings.Development.json

# Archivos y carpetas de compilación
bin/
obj/

# Archivos de NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
# Archivos generados por MSBuild
Product3_Web_NETCORE/obj/Debug/net8.0/
Product3_Web_NETCORE/obj/Release/net8.0/

# Archivos de configuración específicos de ASP.NET Core
project.assets.json
project.nuget.cache
*.bak

# Archivos de bases de datos locales
*.db
*.sql

# Archivos de usuario específicos de Visual Studio
.vsconfig

# Ignorar los archivos temporales de Visual Studio
*.tmp
*.log

# Ignorar los archivos de build de JetBrains Rider
.idea/

# Archivos generados por el entorno de desarrollo
*.pidb
*.userprefs

# Archivos de configuración específicos de NuGet
.nuget/

# Ignorar archivos de publicación
publish/
